buttonTab_variant(theme, defaultFill, defaultColor, fillColor, activeColor)
  .yt-buttonTab__{theme}
    background-color defaultFill
    color defaultColor
    border-color fillColor
    .yt-buttonTab-mask
      background-color fillColor
    .yt-buttonTab-item.is-active
      color activeColor
