button_size(size, paddingVertical, paddingHorizontal, fontSize, borderRadius)
  .yt-button__{size}
    padding paddingVertical paddingHorizontal
    font-size fontSize
    border-radius borderRadius
    &.is-round
      padding paddingVertical paddingHorizontal
      border-radius 2 * paddingVertical

button_variant(theme, color, fillColor, borderColor)
  .yt-button__{theme}
    color color
    background-color fillColor
    border-color borderColor
    &.is-simple
      color fillColor
      background #ffffff
      border-color #ffffff
    &.is-plain
      color fillColor
      background lighten(fillColor, 90%)
      border-color lighten(fillColor, 60%)
