cascader_variant(theme, color)
  .yt-cascader__{theme}
    .yt-cascader-icon
      color color
    .yt-cascader-tag
      &::after
        color color

  .yt-cascaderService__{theme}
    .yt-cascaderService-line
      background-color color

    .yt-cascaderService-row
      &.is-select
        color color
