inlineSelect_variant(theme, iconFill, color, bgFill, borderColor)
  .yt-inlineSelect__{theme}
    .yt-inlineSelect-title::before
      background-color iconFill
    .yt-inlineSelect-item.is-active
      color color
      background-color bgFill
      border-color borderColor
