switch_variant(theme, defaultFill, defaultBeforeFill, defaultBorderColor, selectColor, circleFill)
  .yt-switch__{theme}
    .yt-switch-input
      &:checked
        + .yt-switch-core
          border-color selectColor
          background-color selectColor
    .yt-switch-core
      border-color defaultBorderColor
      background-color defaultFill
      &:after
        background-color circleFill
      &::before
        background-color: defaultBeforeFill
