@name yt {
  @b slider-right {
    @e enter {
      opacity: 0.1;
      transform: translate3d(10%, 0, 0);
    }

    @e leave-active {
      transform: translate3d(0%, 0, 0);
    }
  }

  @b slider-left {
    @e enter {
      opacity: 0.1;
      transform: translate3d(-10%, 0, 0);
    }

    @e leave-active {
      transform: translate3d(0, 0, 0);
    }
  }

  @b slider-bottom {
    @e enter {
      transform: translate3d(0, 100%, 0);
    }
    @e leave-active {
      transform: translate3d(0, 100%, 0);
    }
  }

  @b slider-top {
    @e enter {
      transform: translate3d(0, -100%, 0);
    }
    @e leave-active {
      transform: translate3d(0, -100%, 0);
    }
  }

  @b fade {
    @e enter {
      opacity: 0;
    }
    @e leave-active {
      opacity: 0;
    }
  }

  @b zoom {
    @e enter {
      opacity: 0;
      transform: scale(1.1);
    }
    @e leave-active {
      opacity: 0;
      transform: scale(1.1);
    }
  }

  @b module {
    @e enter {
      opacity: 0.1;
      transform: translate3d(10%, 0, 0);
    }
    @e leave-active {
      opacity: 0.1;
      transform: translate3d(10%, 0, 0);
    }
  }

  @b confirm-zoom {
    @e enter {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0) scale(0.1);
    }
    @e leave-active {
      opacity: 0;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  @b page-more {
    @e enter {
      opacity: 0;
      transform: scale(0);
    }
    @e leave-active {
      opacity: 0;
      transform: scale(0);
    }
  }

  @b header-input-scale {
    @e enter {
      opacity: 0;
      transform: scaleX(0);
    }
    @e leave-active {
      opacity: 0;
      transform: scaleX(0);
    }
  }

  @b popup-slider-bottom {
    @e enter, leave-active {
      transform: translate3d(0, 100%, 0);
    }
  }

  @b popup-slider-right {
    @e enter, leave-active {
      transform: translate3d(100%, 0, 0);
    }
  }

  @b popup-slider-top {
    @e enter, leave-active {
      transform: translate3d(0, -100%, 0);
    }
  }

  @b popup-slider-left {
    @e enter, leave-active {
      transform: translate3d(-100%, 0, 0);
    }
  }

  @b popup-slider-center {
    @e enter {
      transform: translate3d(-50%, -50%, 0) scale(1.185);
    }
    @e leave-active {
      transform: translate3d(-50%, -50%, 0);
    }
  }

  @b badge-scale {
    animation: yt-badge-scale 0.3s ease 0.3s;
  }
}

@keyframes yt-badge-scale {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  33% {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }
  66% {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
