@name yt {
  @b select {
    @e header {
      position: relative;
      text-align: center;
      line-height: 42px;
      font-size: 14px;
      color: #333333;
    }
    @e btn {
      position: absolute !important;
      right: 10px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
    @e container {
      text-align: left;
      height: 220px;
      box-sizing: border-box;
    }
  }
}
