@name yt {
  @b button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    user-select: none;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    font-weight: normal;
    @m white {
      color: #333333;
      background-color: #ffffff;
      border-color: #eeeeee;
      @when plain {
        background-color: #fbfbfb;
        border-color: #dddddd;
      }
    }

    @m black {
      color: #ffffff;
      background-color: #333333;
      border-color: #333333;
      @when plain {
        color: #333333;
        background: #ebebeb;
        border-color: #adadad;
      }
    }

    @m blue {
      color: #ffffff;
      background-color: #46BAFF;
      border-color: #46BAFF;
      @when plain {
        color: #46BAFF;
        background: #edf8ff;
        border-color: #b5e3ff;
      }
    }

    @m red {
      color: #ffffff;
      background-color: #FF5050;
      border-color: #FF5050;
      @when plain {
        color: #FF5050;
        background: #ffeded;
        border-color: #ffb9b9;
      }
    }

    @m green {
      color: #ffffff;
      background-color: #29f090;
      border-color: #29f090;
      @when plain {
        color: #29f090;
        background: #dcf0e4;
        border-color: #29f090;
      }
    }

    @m block {
      display: block;
      margin: 10px;
      padding: 12px 20px;
      font-size: 16px;
      border-radius: 4px;
      &.is-round {
        padding: 12px 20px;
        border-radius: 24px;
      }
    }

    @m normal {
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 4px;
      &.is-round {
        padding: 10px 20px;
        border-radius: 20px;
      }
    }

    @m medium {
      padding: 9px 20px;
      font-size: 14px;
      border-radius: 4px;
      &.is-round {
        padding: 9px 20px;
        border-radius: 18px;
      }
    }

    @m small {
      padding: 8px 15px;
      font-size: 12px;
      border-radius: 2px;
      &.is-round {
        padding: 8px 15px;
        border-radius: 16px;
      }
    }

    @m mini {
      padding: 6px 12px;
      font-size: 12px;
      border-radius: 2px;
      &.is-round {
        padding: 6px 12px;
        border-radius: 12px;
      }
    }

    @when edge {
      margin: 0;
      border-radius: 0;
    }

    @when circle {
      line-height: 1em;
      font-size: 18px;
      border-radius: 50%;
      padding: 12px 13px;
    }

    @when loading, disabled {
      pointer-events: none;
      &:before {
        pointer-events: none;
        content: '';
        position: absolute;
        left: -1px;
        top: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: inherit;
        background-color: rgba(255, 255, 255, .35);
      }
    }

    @e loading {
      display: inline-block;
      font-size: 16px;
      animation: rotation 2s linear infinite;
    }

    @e icon {
      display: inline-block;
      vertical-align: middle;
    }
  }

  @b buttonGroup {
    position: relative;
    display: flex;
    padding: 10px 5px;
    z-index: 10;
    @when shadow {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .yt-button {
      flex: 1;
      margin: 0 5px;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
