THEME = LightBlue
THEME_font_default_color = #ffffff
THEME_font_active_color = #46BAFF
THEME_fill_default_color = #ffffff
THEME_fill_active_color = #46BAFF
THEME_fill_gradient_color = -webkit-gradient(linear, 0 22, 100% 0, from(#6D80FD), to(#25D0FD))
THEME_border_color = lighten(#46BAFF, 20%)
// base
base_variant(THEME, THEME_fill_gradient_color, THEME_fill_active_color, THEME_font_active_color)
// select
select_variant(THEME, THEME_font_active_color)
// time
time_variant(THEME, THEME_font_active_color)
// button
button_variant(THEME, THEME_font_default_color, THEME_fill_active_color, THEME_border_color)
// buttonTab
buttonTab_variant(THEME, transparent, THEME_font_default_color, THEME_fill_default_color, THEME_font_active_color)
// header
header_variant(THEME, THEME_font_default_color, THEME_fill_gradient_color)
// checkBox
checkBox_variant(THEME, THEME_fill_default_color, THEME_border_color, THEME_fill_default_color, THEME_fill_active_color, THEME_border_color, #d9d9d9, #d9d9d9)
// radio
radio_variant(THEME, THEME_fill_default_color, THEME_border_color, THEME_fill_default_color, THEME_fill_active_color, THEME_border_color, #d9d9d9, #d9d9d9)
// switch
switch_variant(THEME, #d9d9d9, #fdfdfd, #cccccc, THEME_fill_active_color, THEME_fill_default_color)
// count
count_variant(THEME, THEME_font_active_color)
// timeline
timeline_wrapper_variant(THEME, #e4e5ea, #e4e5ea, THEME_fill_active_color)
// badge
badge_variant(THEME, #ffffff, red)
// cascader
cascader_variant(THEME, THEME_font_active_color)
// icon
icon_variant(THEME, THEME_font_active_color)
// confirm
confirm_variant(THEME, THEME_fill_active_color, THEME_fill_active_color, THEME_font_default_color)
// tab
tab_variant(THEME, THEME_font_active_color, THEME_fill_active_color)
// steps
step_variant(THEME, THEME_font_active_color)
// inlineSelect
inlineSelect_variant(THEME, THEME_fill_active_color, THEME_font_default_color, THEME_fill_active_color, THEME_border_color)
// form
form_variant(THEME, THEME_fill_active_color)
// card
card_variant(THEME, THEME_fill_active_color)
// paletteButton
paletteButton_variant(THEME, THEME_font_default_color, THEME_fill_active_color)
// sliderDot
sliderDot_variant(THEME, #e5e5e5, THEME_fill_active_color)
