@name yt {
  @b rate {
    height: 20px;
    line-height: 1;
    @e icon {
      position: relative;
      display: inline-block;
      font-size: 18px;
      margin-right: 3px;
      color: #bfcbd9;
      transition: .3s;
      &.hover {
        transform: scale(1.15);
      }
    }

    @e item {
      position: relative;
      display: inline-block;
      font-size: 0;
      vertical-align: middle;
    }

    @e decimal {
      display: inline-block;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }

    @e text {
      font-size: 14px;
      vertical-align: middle;
    }
  }
}
