.yt-module-page
  display flex
  flex-direction column
  position fixed
  left 0
  top 0
  width 100%
  height 100%
  overflow hidden
  background #ffffff
  z-index 100
  transition all .3s ease

.yt-full
  width 100%
  height 100%

.yt-scroll
  overflow-x hidden
  overflow-y auto
  &::-webkit-scrollbar
    display none

.yt-input
  border 0
  outline 0
  resize none
  &:focus
    border 0
    outline 0
  &:disabled
    background-color transparent

.yt-border
  &-all, &-half, &-none
    position relative
    &:after
      position absolute
      content " "
      bottom 0
      right 0
      height 1px
      background-color #e5e5e5
  &-all
    &:after
      left 0
  &-half
    &:after
      left 10px
  &-none
    &:after
      display none

.yt-small-title
  font-size 14px
  color #666666
  height 30px
  line-height 30px
  padding 0 10px
  background-color #f9f9fb

.yt-flex-1
  flex 1

.yt-ellipsis
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
