@import "./mixins/button.styl"
@import "./mixins/header.styl"
@import "./mixins/buttonTab.styl"
//@import "./mixins/checkList.styl"
@import "./mixins/switch.styl"
@import "./mixins/radio.styl"
@import "./mixins/count.styl"
@import "./mixins/timeline.styl"
@import "./mixins/time.styl"
@import "./mixins/select.styl"
@import "./mixins/badge.styl"
@import "./mixins/cascader.styl"
@import "./mixins/icon.styl"
@import "./mixins/confirm.styl"
@import "./mixins/tab.styl"
@import "./mixins/step.styl"
@import "./mixins/inlineSelect.styl"
@import "./mixins/form.styl"
@import "./mixins/card.styl"
@import "./mixins/paletteButton.styl"
@import "./mixins/sliderDot.styl"
@import "./mixins/base.styl"
