// base
color_white = #ffffff
color_black = #000000
color_gray = #d9d9d9
color_primary = #1eb9f2
color_success = #67c23a
color_warning = #e6a23c
color_danger = #fe606c
color_info = #c7c7cd
color_text_primary = #303133
color_text_regular = #606266
color_text_secondary = #909399
color_text_placeholder = #c0c4cc

// Transition
all_transition = all .3s cubic-bezier(.645,.045,.355,1)
fade_transition = opacity 300ms cubic-bezier(0.23, 1, 0.32, 1)
fade_linear-transition = opacity 200ms linear
md_fade_transition = transform 300ms cubic-bezier(0.23, 1, 0.32, 1), opacity 300ms cubic-bezier(0.23, 1, 0.32, 1)
md_transition =
border_transition = border-color .2s cubic-bezier(.645,.045,.355,1)
color_transition = color .2s cubic-bezier(.645,.045,.355,1)
fill_transition = background-color .2s cubic-bezier(.645,.045,.355,1)

// background
background_color_base = #ffffff

// margin
margin_base = 10px

// border
border_width_base = 1px
border_style_base = solid
border_color_base = #dcdfe6
border_base = border_width_base border_style_base border_color_base
border_radius_base = 4px
border_radius_small = 2px
border_radius_circle = 100%

// Box-shadow
box_shadow_base = 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
box_shadow_dark = 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12)
box_shadow_light = 0 2px 12px 0 rgba(0, 0, 0, 0.1)

// font
font_size_small = 12px
font_size_base = 14px
font_size_large = 16px
font_weight_primary = 500

// grid
    grid_fill = background_color_base
    grid_btn_border_color = color_text_primary
    grid_btn_border_fill = #f1f1f1
    grid_btn_border_size = 1px
    grid_btn_border_scaleY = 0.5

// cellSwipe
    cellSwipe_minWidth = 50px
    cellSwipe_paddingHorizontal = 10px
    cellSwipe_color = color_white
    cellSwipe_primary_fill = #46BAFF
    cellSwipe_success_fill = #29F090
    cellSwipe_warning_fill = #ff9d01
    cellSwipe_danger_fill = #ff0000
    cellSwipe_info_fill = #c7c7cd

// popover
    popover_index = 2000
    popover_fill = background_color_base
    popover_horizontal_width = 75%

// timeline
    timeline_paddingLeft = 40px
    timeline_desc_fontSize = font_size_large
    timeline_desc_color = color_text_primary
    timeline_desc_lineHeight = 36px
    timeline_time_fontSize = font_size_base
    timeline_time_color = color_text_regular
    timeline_time_lineHeight = 34px
    timeline_fill = color_white
    timeline_line_width = 1px
    timeline_line_left = 20px
    timeline_line_node = 20px
    timeline_core_default_size = 8px
    timeline_core_default_left = timeline_paddingLeft / 2 - timeline_core_default_size / 2
    timeline_core_default_top = 16px
    timeline_core_default_borderRadius = border_radius_circle
    timeline_core_active_size = 12px
    timeline_core_active_borderRadius = border_radius_circle
    timeline_core_active_borderSize = 4px
    timeline_core_active_top = 12px
    timeline_core_active_left = timeline_paddingLeft / 2 - timeline_core_active_size / 2 - timeline_core_active_borderSize

// cell
    cell_fontSize = font_size_base
    cell_color = color_text_primary
    cell_body_paddingVertical = 8px
    cell_body_paddingHorizontal = 0
    cell_icon_margin =  0 15px 0 5px
    cell_icon_size = 29px
    cell_value_color = color_text_regular
    cell_value_fontSize = font_size_base
    cell_link_fontSize = font_size_small
    cell_link_color = color_text_secondary
    cell_link_marginLeft = 4px
    cell_block_lineHeight = 30px
    cell_block_color = color_text_primary
    cell_block_fontSize = font_size_base
    cell_inline_lineHeight = 20px
    cell_inline_color = color_text_regular
    cell_inline_fontSize = font_size_small

// header
    header_height = 44px
    header_status_height = 22px
    header_paddingHorizontal = 5px
    header_text_fontSize = font_size_large
    header_text_paddingHorizontal = 60px
    header_input_color = color_white
    header_input_fill = transparent
    header_input_borderWidth = 0 0 1px 0
    header_input_borderColor = color_white
    header_input_paddingRight = 20px
    header_inputholder_color = darken(color_white, 10%)
    header_input_size = font_size_base
    header_input_paddingHorizontal = 5px
    header_clear_size = font_size_base
    header_clear_height = 26px
    header_clear_top = 5px
    header_clear_fill = color_white
    header_clear_right = 7px

// button
    button_fontWeight = font_weight_primary
    button_circle_borderRadius = border_radius_circle
    button_circle_fontSize = font_size_large
    button_circle_padding = 12px
    button_fontSize = font_size_base
    button_borderRadius = border_radius_base
    button_paddingVertical = 13px
    button_paddingHorizontal = 20px
    button_block_fontSize = font_size_large
    button_block_borderRadius = border_radius_base
    button_block_margin = margin_base
    button_block_paddingVertical = 12px
    button_block_paddingHorizontal = 20px
    button_medium_fontSize = font_size_base
    button_medium_borderRadius = border_radius_base
    button_medium_paddingVertical = 10px
    button_medium_paddingHorizontal = 20px
    button_small_fontSize = font_size_small
    button_small_borderRadius = border_radius_small
    button_small_paddingVertical = 9px
    button_small_paddingHorizontal = 15px
    button_mini_fontSize = font_size_small
    button_mini_borderRadius = border_radius_small
    button_mini_paddingVertical = 7px
    button_mini_paddingHorizontal = 12px
    button_default_color = color_text_regular
    button_default_fill = color_white
    button_default_border = border_color_base
    button_primary_color = color_white
    button_primary_fill = color_primary
    button_primary_border = color_primary
    button_success_color = color_white
    button_success_fill = color_success
    button_success_border = color_success
    button_warning_color = color_white
    button_warning_fill = color_warning
    button_warning_border = color_warning
    button_danger_color = color_white
    button_danger_fill = color_danger
    button_danger_border = color_danger
    button_info_color = color_white
    button_info_fill = color_info
    button_info_border = color_info

// checkList
    checkList_title_color = color_text_primary
    checkList_title_fontSize = font_size_small
    checkList_title_paddingVertical = 10px
    checkList_title_paddingHorizontal = 10px
    checkList_row_fontSize = font_size_base
    checkList_row_paddingVertical = 8px
    checkList_row_paddingHorizontal = 12px
    checkList_checkbox_margin = 10px
    checkList_core_size = 20px
    checkList_core_borderRadius = border_radius_circle
    checkList_core_borderWidth = 2px
    checkList_core_top = 4px
    checkList_core_left = 7px
    checkList_core_width = 4px
    checkList_core_height = 8px

// radio
    radioList_title_color = color_text_primary
    radioList_title_fontSize = font_size_small
    radioList_title_margin = 8px
    radioList_row_fontSize = font_size_base
    radioList_row_paddingVertical = 8px
    radioList_row_paddingHorizontal = 12px
    radio_marginRight = 10px
    radio_core_size = 22px
    radio_core_borderRadius = border_radius_circle
    radio_core_circle_size = 8px
    radio_core_circle_top = 6px
    radio_core_circle_left = 6px

// switch
    switch_color = color_text_primary
    switch_fill = color_white
    switch_fontSize = font_size_base
    switch_paddingHorizontal = 10px
    switch_paddingVertical = 7px
    switch_core_width = 52px
    switch_core_height = 32px
    switch_core_before_width = 50px
    switch_core_before_height = 30px
    switch_core_borderRadius = switch_core_height / 2
    switch_core_circle_transformX = 20px
    switch_core_circle_borderRadius = 15px
    switch_core_circle_size = 30px

// count
    count_lineHeight = 45px
    count_icon_width = 44px
    count_num_minWidth = 35px
    count_num_width = 50px
    count_num_color = color_text_regular
    count_num_fontSize = font_size_base

// badge
    badge_top = 0
    badge_left = 100%
    badge_fontSize = font_size_small
    badge_height = 18px
    badge_borderRadius = 10px
    badge_paddingHorizontal = 6px
    badge_dot_size = 8px
    badge_dot_top = 0
    badge_dot_left = 100%
    badge_dot_borderRadius = border_radius_circle
    badge_primary_fill = color_primary
    badge_primary_color = color_white
    badge_success_fill = color_success
    badge_success_color = color_white
    badge_warning_fill = color_warning
    badge_warning_color = color_white
    badge_danger_fill = color_danger
    badge_danger_color = color_white
    badge_info_fill = color_info
    badge_info_color = color_white

// buttonTab
    button_tab_borderRadius = 30px
    button_tab_height = 30px
    button_tab_item_width = 70px
    button_tab_item_height = 28px
    button_tab_item_borderRadius = 28px
    buttonTab_tab_item_fontSize = font_size_base

// tabs
    tabs_line_size = 4px
    tabs_line_borderRadius = 2px
    tabs_header_fill = color_white
    tabs_container_fill = #f9f9f9
    tabs_item_box_fill = color_white
    tabs_top_height = 45px
    tabs_bottom_height = 55px

    tabs_theme_LightBlue_line_fill = #46BAFF
    tabs_theme_ShallowBlack_line_fill = #333333
    tabs_theme_LightRed_line_fill = #FF5050
    tabs_theme_PlainRed_line_fill = #FF5E8B
